# Dependencies
node_modules/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment secrets
.env
.env.local

# Logs
*.log
.vercel
